<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Marketsuite
 * @version    2.1.3
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if ($this->_section == 'awall'): ?>
<div id="awall_extensions_table">
    <table class="form-list">
        <tbody>
            <?php foreach ($this->getExtensions() as $Extension): ?>
        <tr>
            <td><img src="<?php echo $this->getIcon($Extension)->getSource()?>"
                     alt="<?php echo $this->getIcon($Extension)->getTitle()?>"
                     title="<?php echo $this->getIcon($Extension)->getTitle();?>"
                />
            </td>
            <td>
                <a
                    href="
                        <?php if (null !== $Extension->getFeedInfo()->getUrl()): ?>
                            <?php echo $Extension->getFeedInfo()->getUrl();?>
                        <?php else: ?>
                            <?php echo 'javascript:void(0);';?>
                        <?php endif;?>
                    "
                    <?php if (null !== $Extension->getFeedInfo()->getUrl()): ?>
                        onclick="this.target = '_blank'"
                    <?php endif;?>
                >
                    <?php echo $Extension->getName();?>
                </a>
            </td>
            <td><?php echo $Extension->getVersion()?></td>
            <td>
                <a href="
                    <?php if (null !== $Extension->getFeedInfo()->getDocumentationUrl()): ?>
                        <?php echo $Extension->getFeedInfo()->getDocumentationUrl(); ?>
                    <?php else: ?>
                        <?php echo 'http://confluence.aheadworks.com/display/EUDOC/';?>
                    <?php endif;?>
                "
                   onclick="this.target = '_blank'"><img
                        src="<?php echo $this->getSkinUrl('aw_all/images/readme.png')?>" title="<?php echo $this->__('Readme');?>"/></a></td>
        </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>
<?php endif; ?>
<script type="text/javascript">
    _section = '<?php echo $this->_section?>';
</script>