
.stadmin-menu_main {
    background-image:url("../images/st_micro_icon.png") !important;
    background-position:0 7px !important;
    background-repeat:no-repeat !important;
    padding-left:22px !important;
    padding-right:0 !important;
    width:100% !important;
}

h3.head-manage-promo-quote-redemptions,
h3.head-manage-promo-quote-redemptions,
h3.head-manage-promo-catalog-redemptions,
h3.head-manage-special,
h3.head-manage-promo-quote-distributions,
h3.head-manage-promo-catalog-distributions,
h3.head-manage-currency,
h3.head-manage-referrals,
h3.head-manage-transfer-other,
h3.head-manage-transfer-distribution,
h3.head-manage-transfer-redemption,
h3.head-manage-transfer,
h3.head-manage-customer-points,
h3.head-manage-promo-quote,
h3.head-manage-promo-catalog
{
    background-image:url("../images/st_micro_icon.png");
    background-position:0 2px;
    background-repeat:no-repeat;
    color:#EA5091;
    padding-left:22px;
    padding-right:0;
}

.tabs.config-tabs span.stadmin-config_menu,
        .tabs a:hover.active span.stadmin-config_menu,
        .tabs.config-tabs span.stadmin-config_menu a.stadmin-config_menu:hover {
    padding: 0;
    background-image:url("../images/st_micro_icon.png");
    background-position:0 2px;
    background-repeat:no-repeat;
    color:#EA5091;
    padding-left:22px;
    padding-right:0;
}



.content-header h3 span.stadmin-config_menu {
    background-image:url("../images/st_micro_icon.png");
    background-position:0 2px;
    background-repeat:no-repeat;
    color:#EA5091;
    padding-left:22px;
    padding-right:0;
}

.rewards-currency-footer-msg {
    margin-top: 24px;
    font-style: italic;
}
.entry-edit .rewards-currency-footer-msg {
    text-align: left;
}

td.rewards-wikihinted-value {
    width: 310px !important;
}

.wikiHint {
    text-decoration: none;
    display: inline-block;
    margin-left: 7px;
    background: url("../images/wikiHint.png") no-repeat scroll 0;
}

.wikiHint:hover {
    text-decoration: none;
    /*
    font-weight: bold;
    margin-left: 6px;
    */
}

/*
Sweet Tooth Usage Dashboard styling
 */

.st-notify {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.05), inset 0px 1px 0px #fff;
    text-shadow: 0px 1px 0px #fff;
    border-radius: 4px;
    line-height: 16px;
    color: rgba(206, 165, 96, 1);
    border: 1px solid #d8ab42;
    background-color: #fffbe8;
    padding: 6px 12px;
    font-size: 12px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}
div.stpUsage {
    clear:both;
    border:                 1px solid #d4d4d4;
    margin-top:8px;
    border-radius:          6px;
    padding: 2px 4px 2px 2px;
    background:         #e9e9e9;
    background:         -moz-linear-gradient(top, #e9e9e9 0%, #ffffff 100%); /* FF3.6+ */
    background:         -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9e9e9), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
    background:         -webkit-linear-gradient(top, #e9e9e9 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
    background:         -o-linear-gradient(top, #e9e9e9 0%, #ffffff 100%); /* Opera 11.10+ */
    background:         -ms-linear-gradient(top, #e9e9e9 0%, #ffffff 100%); /* IE10+ */
    background:         linear-gradient(top, #e9e9e9 0%, #ffffff0 100%); /* W3C */
 filter:                progid:DXImageTransform.Microsoft.gradient(startColorstr="#e9e9e9", endColorstr="#ffffff", GradientType=0); /* IE6-9 */
}
div.stpUsage span {
    display:inline-block;
    background:         #55aa00;
    background:         -moz-linear-gradient(top, #80ff00 0%, #55aa00 100%); /* FF3.6+ */
    background:         -webkit-gradient(linear, left top, left bottom, color-stop(0%, #80ff00), color-stop(100%, #55aa00)); /* Chrome,Safari4+ */
    background:         -webkit-linear-gradient(top, #80ff00 0%, #55aa00 100%); /* Chrome10+,Safari5.1+ */
    background:         -o-linear-gradient(top, #80ff00 0%, #55aa00 100%); /* Opera 11.10+ */
    background:         -ms-linear-gradient(top, #80ff00 0%, #55aa00 100%); /* IE10+ */
    background:         linear-gradient(top, #80ff00 0%, #55aa00 100%); /* W3C */
 filter:                progid:DXImageTransform.Microsoft.gradient(startColorstr="#80ff00", endColorstr="#55aa00", GradientType=0); /* IE6-9 */
    text-align: center;
    border-radius:          5px;
    border:                 1px solid #55aa00;
    padding:2px 0px;
    color:#fff;
    font-size: small;
    font-weight:bold;
    font-family:verdana, sans-serif;
    text-shadow: #2b5500 0px -1px 1px;
}
div.stpUsage span.usageExceeded {
    background: orange;
}
p.stpStat {
    margin:8px 0px 0px 0px;
    text-align: left;
}

#rewards_dashboard_usage,
.rewards_dashboard_usage {
    padding-left: 15px;
}

#rewards_dashboard_loading {
    color: #d85909;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    opacity: 0.80;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE8 */
    z-index: 500;
    filter: alpha(opacity=80);
    margin: auto;
}

fieldset.rewards-np {
    padding: 0 !important;
    min-height: 70px;
}

/***** Quick Launch Page *****/
.quicklaunch-support-button { text-align: right; }
.sweettooth-quick-launch { max-width: 800px; margin: auto; }
.sweettooth-quick-launch .hide { display: none !important; }
.sweettooth-quick-launch .clickable { cursor: pointer; }
.sweettooth-quick-launch .section-header { background-color: #6f8992; padding: 2px 10px; color: white; font-weight: bold; }
.sweettooth-quick-launch .section-header a { color: white; text-decoration: none; }
.sweettooth-quick-launch .section-header.collapsed { border-bottom: 1px solid #fafafa; opacity: 0.5; }
.sweettooth-quick-launch .section-counter { background-color: white; color: #6f8992; padding: 0 4px; border: 1px solid #d6d6d6; margin-right: 5px; }
.sweettooth-quick-launch .section-content { border: 1px solid #d6d6d6; background-color: #fafafa; padding: 20px; }
.sweettooth-quick-launch .submit-section { clear: both; padding-top: 40px; text-align: center; position: relative; }
.sweettooth-quick-launch .submit-section button { width: 200px; height: 30px; font-size: 14px; }
.sweettooth-quick-launch .submit-section button.disable { opacity: 0.5; }
.sweettooth-quick-launch .submit-section .loading { position: absolute; bottom: 2px; left: 50%; margin-left: -12px; width: 25px; }
.sweettooth-quick-launch .field-content { display: inline; }
.sweettooth-quick-launch section { position: relative; }
.sweettooth-quick-launch .disabled-overlay { background-color: rgba(255, 255, 255, 0.65); width: 100%; height: 100%; position: absolute; top: 0; z-index: 1; }
.sweettooth-quick-launch .field-link { clear: both; margin-top: 10px; margin-left: 145px; }

.sweettooth-quick-launch .connect-your-account label { display:inline-block; width: 140px; padding: 2px; margin-top: 5px; color: #444; font-weight: bold; }
.sweettooth-quick-launch .connect-your-account label .required { padding-left: 2px; }
.sweettooth-quick-launch .connect-your-account input { width: 220px; }

.sweettooth-quick-launch .points-input-label { background-color: rgba(221, 221, 221, 0.5); display: inline-block; padding-left: 15px; height: 30px; border-radius: 0 2px 2px 0; border: 1px solid #999; border-left: 0; line-height: 30px; width: 85px; }
.sweettooth-quick-launch .field-points-name input { vertical-align: top; height: 14px; width: 100px; }
.sweettooth-quick-launch .field-earning input, .sweettooth-quick-launch .field-spending input { margin: 0 3px; }
.sweettooth-quick-launch .info-box { margin-top: 20px; background-color: #DAF0F8; padding: 5px 15px; border: 1px solid #5190A5; }
.sweettooth-quick-launch .info-box i { background-image: url(../images/info.png); width: 16px; height: 16px; display: block; float: left; margin-right: 10px; }

.sweettooth-quick-launch .loyalty-program-settings h3 { font-family: Arial; }
.sweettooth-quick-launch .loyalty-program-settings label { display: block; font-family: 'Roboto';   padding-bottom: 1px; }
.sweettooth-quick-launch .loyalty-program-settings input, .sweettooth-quick-launch .loyalty-program-settings select { padding: 0 5px; height: 30px; border-radius: 2px; border: 1px solid #999; width: 300px; -webkit-box-sizing: initial; -moz-box-sizing: initial; box-sizing: initial; margin-left: 13px; }
.sweettooth-quick-launch .loyalty-program-settings input.points-caption { width: 200px; border-right: 0; }

.sweettooth-quick-launch .loyalty-program-settings .questions { padding-top: 10px; padding-bottom: 15px; display: block; }
.sweettooth-quick-launch .loyalty-program-settings .question { padding: 10px 20px; font-size: 13px; }
.sweettooth-quick-launch .loyalty-program-settings .question label { margin-bottom: 8px; }
.sweettooth-quick-launch .loyalty-program-settings .question small { vertical-align: bottom; opacity: 0.5; }
.sweettooth-quick-launch .loyalty-program-settings .field-content input { border-radius: 2px 0 0 2px; }
.sweettooth-quick-launch .loyalty-program-settings .skip-setup { margin-left: 10px; color: #eb5e00; text-decoration: underline; font-size: smaller; cursor: pointer; position: absolute; right: 0; margin-top: 5px; }

.sweettooth-quick-launch .program-review .program-type { -webkit-appearance: none; -moz-appearance: none; text-overflow: ''; background-color: #fafafa; border: none; border-bottom: 1px solid #C82254; color: #2f2f2f; font-weight: bold; padding-bottom: 1px; cursor: pointer; }
.sweettooth-quick-launch .program-review .content-box { margin: 20px 0; border: 1px solid #d6d6d6; background-color: white; border-radius: 3px; padding: 10px 15px; }
.sweettooth-quick-launch .program-review h3 { text-transform: uppercase; font-family: 'Roboto'; padding-bottom: 5px; border-bottom: 1px solid #d6d6d6; }
.sweettooth-quick-launch .program-review input[type="text"] { background-color: #FAFAFA; width: 50px; font-weight: bold; border: none; border-bottom: 1px solid black; padding-bottom: 2px; margin: 0 3px; text-align: center; color: #333; }
.sweettooth-quick-launch .program-review .earning, .sweettooth-quick-launch .program-review .spending { width: 44%; margin-top: 10px; }
.sweettooth-quick-launch .program-review .special { margin-top: 0px; margin-bottom: 5px; }
.sweettooth-quick-launch .program-review .earning, .sweettooth-quick-launch .program-review .spending, .sweettooth-quick-launch .program-review .special { background-color: #FAFAFA; }
.sweettooth-quick-launch .program-review .customer-action { margin-bottom: 5px; }
.sweettooth-quick-launch .program-review .special h4 { margin-bottom: 15px; }
.sweettooth-quick-launch .program-review .customer-display .field-content { text-align: center; width: 100%; display: block; padding: 20px 0; }
.sweettooth-quick-launch .program-review .screenshot { display: inline-block; width: 30%; padding: 0 10px; border-left: 1px solid #d6d6d6; }
.sweettooth-quick-launch .program-review .screenshot img { cursor: zoom-in; }
.sweettooth-quick-launch .program-review .screenshot.first { border: none; }
.sweettooth-quick-launch .program-review .screenshot span { margin: 0 10px; font-size: larger; padding-top: 10px; display: inline-block; }
.sweettooth-quick-launch .program-review .marked { background: #FAFAFA url(../images/success_msg_icon.gif) no-repeat; width: 16px; height: 16px; display: inline-block; margin: 0 5px -3px 10px; }
.sweettooth-quick-launch .program-review .confirm-modal { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.7); z-index: 100; display: table; }
.sweettooth-quick-launch .program-review .confirm-box { margin: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 50%; height: 80px; padding: 20px; border: 3px solid #eee2be; background-color: #fff9e9; text-align: center; }
.sweettooth-quick-launch .program-review .confirm-box span { display: block; margin-bottom: 40px; text-align: left; }
.sweettooth-quick-launch .program-review .confirm-box button { padding: 5px 25px; margin: 0 15px; }

.zoomed-screenshot { position: fixed; cursor: zoom-out; top: 50px; left: 0; right: 0; margin: 0 auto; z-index: 102; max-height: 500px; }
.screenshot-overlay { position: fixed; cursor: zoom-out; top: 0; left: 0; background: rgba(0,0,0,0.6); z-index: 101; width: 100%; height: 100%; }

.sweettooth-quick-launch .toggle { position: absolute; margin-left: -9999px; visibility: hidden; }
.sweettooth-quick-launch .toggle + label { display: block; position: relative; cursor: pointer; outline: none; user-select: none; padding: 2px; width: 60px; height: 20px; background-color: #dddddd; border-radius: 60px; }
.sweettooth-quick-launch .toggle + label:before, .sweettooth-quick-launch .toggle + label:after { display: block; position: absolute; top: 1px; left: 1px; bottom: 1px; content: ""; }
.sweettooth-quick-launch .toggle + label:before { right: 1px; background-color: #f1f1f1; border-radius: 60px; transition: background 0.4s; }
.sweettooth-quick-launch .toggle + label:after { width: 24px; background-color: #fff; border-radius: 100%; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); transition: margin 0.4s; }
.sweettooth-quick-launch .toggle:checked + label:after { margin-left: 38px; }
.sweettooth-quick-launch .switch { display: inline-block; }
.sweettooth-quick-launch .switch label, .sweettooth-quick-launch .switch span { float: left; }
.sweettooth-quick-launch .switch label { margin: 15px 15px 0; }
.sweettooth-quick-launch .switch span { margin-top: 18px; }

/***** Dashboard Quick Launch *****/
.rewards-dashboard-quick-launch { border: 1px solid #d6d6d6; padding: 10px; margin-bottom: 10px; }
.rewards-dashboard-quick-launch span { display: block; margin: 5px 0px; }
.rewards-dashboard-quick-launch a { margin: 5px 0px; }
.rewards-dashboard-quick-launch .clear { clear: both; }

/***** Quick Launch - Success Page *****/
.sweettooth-quick-launch-success { margin: 0 auto; text-align: center; }
.sweettooth-quick-launch-success h1 { color: #C82254; margin-bottom: 20px; }
.sweettooth-quick-launch-success span { font-size: 14px; margin-bottom: 20px; display: block; }
.sweettooth-quick-launch-success span.subtitle { margin-bottom: 60px; }
.sweettooth-quick-launch-success li span { font-weight: bold; }
.sweettooth-quick-launch-success .screenshots { margin-bottom: 60px; border: 1px solid #ddd; display: inline-block; padding: 10px; }
.sweettooth-quick-launch-success img { height: 160px; }
.sweettooth-quick-launch-success img.larger { height: 225px; }
.sweettooth-quick-launch-success img.left { margin-right: 20px; }
.sweettooth-quick-launch-success img.right { margin-left: 20px; }
.sweettooth-quick-launch-success button { width: 250px; height: 40px; font-size: larger; }
