<div class="content-header">
    <table cellspacing="0">
        <tr>
            <?php $header = $this->getHeaderText(); ?>
            <?php $header = ($header) ? $header : 'Sweet Tooth Dashboard'; ?>
            <?php $header = $this->__($header); ?>
            <td><h3 class="head-dashboard"><?php echo $header; ?></h3></td>
        </tr>
    </table>
</div>