<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Affiliate
 * @version    1.1.3
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php

/**
 * @var $this AW_Affiliate_Block_Customer_Withdrawal
 */

?>
<div class="withdrawals fieldset">
    <h2 class="legend"><?php echo $this->__("Withdrawals"); ?></h2>
    <div class="withdrawal-top-container">
        <?php if ($this->getPendingRequestsCount() == 1): ?>
            <span><?php echo $this->__('You have 1 pending withdrawal request'); ?></span>
        <?php else: ?>
            <span><?php echo $this->__("You have %s pending withdrawal requests", $this->getPendingRequestsCount());?></span>
        <?php endif;?>
        <?php if($this->canRequestWithdrawal()) : ?>
        <button id="withdrawal_request" class="button" title="<?php echo $this->__("Request Withdrawal"); ?>">
            <span><span><?php echo $this->__("Request Withdrawal"); ?></span></span>
        </button>
        <?php endif ?>
    </div>
    <?php if( $this->getWithdrawalCollection()->getSize() ) : ?>
        <?php echo $this->getChildHtml('pager'); ?>
        <table class="data-table" id="my-withdrawals-table">
            <col width = "4%" />
            <col width = "32%" />
            <col width = "32%" />
            <col width = "32%"/>
            <thead>
                <tr>
                    <th><?php echo $this->__('ID') ?></th>
                    <th><?php echo $this->__('Amount') ?></th>
                    <th><?php echo $this->__('Date') ?></th>
                    <th><?php echo $this->__('Status') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($this->getWithdrawalCollection() as $item) : ?>
                    <tr>
                        <td><?php echo $item->getId() ?></td>
                        <td><?php echo $this->formatCurrency($item->getAmount()) ?></td>
                        <td><?php echo $this->formatDate($item->getCreatedAt()) ?></td>
                        <td><?php echo $this->getStatusLabel($item); ?></td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
        <?php echo $this->getChildHtml('pager'); ?>
        <script type="text/javascript">decorateTable('my-withdrawals-table')</script>
    <?php endif; ?>
</div>
<?php if($this->canRequestWithdrawal()) : ?>
<script type="text/javascript">
    Event.observe(window, 'load', function(){
        $('withdrawal_request').observe('click', function(){
            AWWithdrawalRequest.showPopup();
        });
    });
    Event.observe(window, 'resize', function(){
            AWWithdrawalRequest.updatePosition();
    });
</script>
<?php endif; ?>