<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Affiliate
 * @version    1.1.3
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div id="chart_container"></div>
<script type="text/javascript">
    var drawChart = function () {
        if (!'google' in window || !$('chart_container')) {
            return;
        }

        var options = {
            width:600,
            height:260,
            title:<?php echo Zend_Json::encode($this->getTitle()) ?>,
            vAxis:{
                minValue: 100,
                format:<?php echo Zend_Json::encode($this->getVAxisFormat()) ?>
            },
            pointSize:3
        };

        var data = new google.visualization.DataTable();
        <?php foreach ($this->getChartColumns() as $column) : ?>
            data.addColumn(<?php echo Zend_Json::encode($column) ?>);
        <?php endforeach;?>
        data.addRows(<?php echo Zend_Json::encode($this->getChartRows()) ?>);

        var chart = new google.visualization.LineChart($('chart_container'));
        chart.draw(data, options);
    }
    drawChart();
</script>